version: "3.9"

# create a .env file in the project root with env variables in it

services:
  db:
    image: mysql:5.7
    volumes:
      - ./database_data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    
  wordpress:
    depends_on:
      - db
    image: wordpress:5.7.2
    volumes:
      - ./html:/var/www/html
      - ./custom-settings.ini:/usr/local/etc/php/conf.d/custom-settings.ini
    ports:
      - "8000:80"
    restart: always
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}

